.header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: black;
    color: white;
    padding: 10px;
}

.App {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.header {
    float: right;
}

.back {
    width: 100%;
    height: 500%;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

#tsparticles {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}

.textbox {
    height: 600px;
    position: relative;
    bottom: -50%;
}

.profile-picture {
    width: 25%;
    border: solid 10px;
    position: absolute;
    bottom: 0%;
}

h1 {
    height: 100%;
    color: white;
    margin: 0;
    position: relative;
    left: 50%;
    bottom: -60%;
    font-size: 10em;
    z-index: 10;
}

.meu-nome {
    height: 100%;
    color: white;
    margin: 0;
    position: relative;
    left: 45%;
    bottom: -60%;
    font-size: 10em;
    z-index: 10;
    padding: 0px;
    transition-duration: 0.5s;
}

.meu-nome:hover {
    /* border: 5px ridge "white"; */
    left: 40%;
    bottom: -55%;
    text-shadow: 0 0 30px black, 0 0 30px black, 0 0 30px black, 0 0 30px black;
    transition-duration: 0.5s;
}

body {
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .profile-picture {
        width: 100%;
        border-radius: 0%;
        border-width: 0px 0px 20px 0px;
        opacity: 0.95;
    }

    h1 {
        height: 100%;
        color: white;
        margin: 0;
        position: relative;
        bottom: -80%;
        left: 0%;
        font-size: 5em;
        z-index: 10;
    }

    .meu-nome {
        height: 100%;
        color: white;
        margin: 0;
        position: relative;
        bottom: -80%;
        left: 0%;
        font-size: 4.5em;
        z-index: 10;
        text-shadow: 0 0 1.3px black, 0 0 1.3px black, 0 0 1.3px black,
            0 0 1.3px black;
    }

    .meu-nome:hover {
        border: none;
        height: 100%;
        color: white;
        margin: 0;
        position: relative;
        bottom: -80%;
        left: 0%;
        font-size: 5em;
        z-index: 10;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    }
}
